<app-header></app-header>
<div class="example-container mat-elevation-z8">
  <div *ngIf="isLoadingResults"
       class="example-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <form (ngSubmit)="onFormSubmit(registerForm.value)" [formGroup]="registerForm">
      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="fullName" matInput placeholder="Full Name"
               type="fullName">
        <mat-error>
          <span *ngIf="!registerForm.get('fullName').valid && registerForm.get('fullName').touched">Please enter your Full Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="email" matInput placeholder="Email"
               type="email">
        <mat-error>
          <span
            *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">Please enter your email</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="password" matInput placeholder="Password"
               type="password">
        <mat-error>
          <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Please enter your password</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button [disabled]="!registerForm.valid" color="primary" mat-flat-button type="submit">Register</button>
      </div>
    </form>
  </mat-card>
</div>
<app-footer></app-footer>
