#time {
  border: #aa66cc;
  font-size: 15px;
  color: #6351ce;
  font-weight: 400;
  font-variant: small-caps;
  text-transform: capitalize;
  left: 83%;

}

#show, #hide {
  border: #aa66cc;
  font-size: 15px;
  color: #6351ce;
  font-weight: 400;
  font-variant: small-caps;
  text-transform: capitalize;
  margin-left: 79%;
}


