<body>
<div class="post-wrap">
    <div class="post-item">
        <div class="post-item-wrap">
            <a class="post-link">
                <h3 class="post-title">Collect web</h3>
            </a>
            <form (ngSubmit)="colectWeb()" [formGroup]="formweb" autocomplete="off" class="decor">
                <div class="form__field">
                    <label for="web"><img class="iconSearch" height="40" src="assets/image/searchicon.png " width="40">
                    </label>
                    <input autocapitalize="off" autocomplete="false"
                           class="form-control"
                           formControlName="web"
                           id="web"

                           name="web" placeholder="Collect...." spellcheck="false">
                </div>
                <button class="batonsSubmit" id="batonsSubmit" type="submit">Collect</button>
                <button (click)="stopcolect()" class="batonsSubmit">Stop</button>
            </form>
        </div>
    </div>

    <div class="post-item">
        <div class="post-item-wrap">
            <a class="post-link" href="">
                <h3 class="post-title">Title</h3>
                <p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel arcu
                    purus. Duis egestas purus et ex interdum lobortis. Quisque nec magna viverra, interdum dolor at,
                    congue augue. Quisque sed interdum augue, a lacinia nulla. Sed risus nibh, vestibulum eu nisi eu,
                    imperdiet tempor quam.</p>
            </a>
        </div>
    </div>
</div>
</body>
