<body>
<app-header></app-header>

<form (ngSubmit)="onFormSubmit(loginForm.value)" [formGroup]=loginForm class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="email" matInput placeholder="Email"
             type="email">
      <mat-error>
        <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter your email</span>
      </mat-error>
    </mat-form-field>
    <div>
      <mat-form-field class="example-full-width">
        <input [errorStateMatcher]="matcher" formControlName="password" id="idInputP" matInput placeholder="Password"
               type="password">
        <mat-error>
          <span
            *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter your password</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="button-row">
      <button [disabled]="!loginForm.valid" color="primary" mat-flat-button type="submit">Login</button>
    </div>
    <div class="button-row">
      <button (click)="register()" color="primary" mat-flat-button type="button">Register</button>
    </div>
  </div>
</form>
<app-animation *ngIf="hidemeWaitCursor"></app-animation>
<app-footer></app-footer>
</body>


