<div *ngIf="company!=null&& company" class="clr-row clr-align-items-start">
  <div class="clr-col" id="companyName">
    <p id="titleCompany">Company Id -{{company.id}}</p>
    <p id="nameCompany">Company Name - {{company.name}}</p>
    <p id="registratCompany">Company Register Art -{{company.register_art}}</p>
  </div>
  <div class="clr-col" id="companyJurid">
    <p [hidden]="!company.current_status">Company Current Status - {{company.current_status}}</p>
    <p [hidden]="!company.registeredoffice">Company Land - {{company.registeredoffice}}</p>
    <p [hidden]="!company.former_registrar">Company Former Registrar - {{company.former_registrar}}</p>
    <p [hidden]="!company.jurisdiction_code">Company Jurisdiction -{{company.jurisdiction_code}}</p>
    <p [hidden]="!company.native_company_number">Company Native Number -{{company.native_company_number}}</p>
    <p [hidden]="!company.registeredoffice">Company Registered Officer -{{company.registeredoffice}}</p>
  </div>
  <div class="clr-col" id="companyContact">
    <p>Company SiteToGoogle - {{company.googleUri}}</p>
    <p>Company Number -{{company.company_number}}</p>
    <p>Company Phone -{{company.telephone}}</p>
    <p>Company Fax - {{company.fax}}</p>
    <p>Company SiteToWeb -{{company.url}}</p>

  </div>
  <div class="clr-col" id="companyEmails">
    <ul>
      <p>Company Email - {{company?.emails}}</p>
    </ul>
    <p>Company another email - {{company.email}}</p>
    <p>Company email to google - {{company.googleEmail}}</p>
  </div>
  <div class="clr-col" id="companyBranch">
    <p>Company Industry Branch - {{company.keywordsIndustry}}</p>
    <p>Company Industry Activity - {{company.activity}}</p>
    <p>Company Industry Possibility Sector of Activity -{{company.sector_of_activity}}</p>
    <p>Company Industry Catalog Activity -{{company.catalog}}</p>
    <p>Company Capital -{{company.kapital}}</p>
  </div>
  <div *ngFor="let worke of company.officers" class="clr-col" id="companyWorker">
    <p>Company Officer Last Name First Name - {{worke.lastname}}
      {{worke.firstname}}</p>
    <p> Company Officer City {{worke.city}}</p>
    <p> Company Officer Position {{worke.position}}</p>
    <p> Company Officer Title {{worke.title}}</p>
    <p> Company Officer Type {{worke.type}}</p>
  </div>
</div>

