<div *ngIf="company!=null&& company" class="post-wrap">
  <div class="post-item">
    <div class="item-content">
      <div class="item-body">
        <h3>{{company.name}} </h3>
        <p>Name : {{company.name}}</p>
        <p>City : {{company.registrar}}</p>
        <p>Street : {{company.registered_address}}</p>
        <p>Phone : {{company.telephone}}</p>
        <p>Phone : {{company.fax}}</p>
        <p>Website: {{company.url}}</p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Home</span></a>
      </div>
    </div>
  </div>

  <div class="post-item">
    <div class="item-content">
      <div class="item-body">
        <h3>Jurisdiction INFO</h3>
        <p>Shop name {{company.name}}</p>
        <p>HR N {{company.company_number}}</p>
        <p>HR Native {{company.native_company_number}}</p>
        <p>HR Native {{company.native_company_number}}</p>
        <p>Current status {{company.current_status}}</p>
        <p>Jurisdiction Code {{company.jurisdiction_code}}</p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Search by Name</span></a>
      </div>
    </div>
  </div>

  <div class="post-item">
    <div class="item-content">
      <div class="item-body">
        <h3>BUSINESS INFO</h3>
        <p>Company Category {{company.catalog}}</p>
        <p>Company Capital {{company.kapital}}</p>
        <p>Company Sector {{company.sic}}</p>
        <p>Company Possibility Sector {{company.sector_of_activity}}</p>
      </div>
      <div class="item-footer">
        <a class="link" href="byindustry"><span>Search by </span></a>
      </div>
    </div>
  </div>
  <div class="post-item">
    <div class="item-content">
      <div class="item-body">
        <h3>Activity</h3>
        <p>{{company.activity}}</p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Search</span></a>
      </div>
    </div>
  </div>

  <div class="post-item">
    <div class="item-content">
      <div class="item-body">
        <h3>Manager</h3>
        <p> Name : {{company?.officers?.name}}{{company?.officers?.lastname}}</p>
        <p> City : {{company?.officers?.city}}</p>
        <p> Position : {{company?.officers?.position}}</p>
        <p> Start Work Date : {{company?.officers?.start_date}}</p>
        <p> Title : {{company?.officers?.title}}</p>
        <p> Start Work Date : {{company?.officers?.start_date}}</p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Search</span></a>
      </div>
    </div>
  </div>
  <div class="post-item">
    <div class="item-content">
      <div class="item-body">
        <h3>Company Mor Contact</h3>
        <p>{{company.googleUri}}</p>
        <p>{{company.url}}</p>
        <p>{{company.googleEmail}}</p>
        <p>{{company.telephone}}</p>
        <p>{{company.fax}}</p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Goo to Company Web Site</span></a>
      </div>
    </div>
  </div>
</div>

