<div *ngFor=" let comp of company ; let i = index" class="post-wrap">
  <div class="post-item">
    <div class="item-content">
      <div class="item-body">
        <p *ngIf="comp?.name">Name : {{comp.name}}</p>
        <p *ngIf="comp?.addressCompany.registrar">City : {{comp.addressCompany.registrar}}</p>
        <p *ngIf="comp?.addressCompany.registered_address">Street : {{comp.addressCompany.registered_address}}</p>
      </div>
      <div class="item-footer">
        <a (click)="openModalWithClass(i)" class="link"><span>Show</span></a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="companyShouw" class="overlay"
     id="popup1">
  <div class="popup">
    <div>
      <h2>Company All Information {{companyShouw.name}}</h2>
      <div class="content">
        <app-oncompany [company]="companyShouw"></app-oncompany>
      </div>
      <button (click)=hide() class="close">x</button>
    </div>
  </div>
</div>
<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item"><a class="page-link" (click)="previos()">Previous</a></li>-->
<!--    <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>-->
<!--  </ul>-->
<!--</nav>-->
