body{
  display: flex;
  min-height: auto;
  flex-direction: column;
}
mat-form-field{
  position: relative;
  left: 130%;
}
#butonsubmit{
  position: relative;
  left: 130%;
}
u{
  position: relative;
left: 40%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
