<body>
<br>
<br>
<form (ngSubmit)="searchByCity()" [formGroup]="formByCity" class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <a>Search Company by City</a>
    <hr>
    <input [(ngModel)]="city"
           [ngbTypeahead]="search"
           class="form-control"
           formControlName="city"
           id="input"
           placeholder="Search...."
           type="text"/>
    <button id="batonsSubmit" type="submit">Search By ID</button>
  </div>
</form>
<app-app-alertvalitation-input *ngIf="alertShouw" [control]="formByCity" [error]=errorResponse
                               [position]="bycity" errorMessage="{{alertShouw}}">
</app-app-alertvalitation-input>
<app-listtables [companies]=companies [control]="formByCity"></app-listtables>
</body>

