<div>
  <input type="text" [(ngModel)]="city">
  <button class="btn btn-primary" (click)="searcBycity()">Search By Cyty</button>

</div>

<table class="table" *ngIf="response">
  <div *ngIf="response.size()==0">
    Not found
  </div>
  <thead class="table table-hover">
  <tr>
    <td scope="col">Id</td>
    <td scope="col">Name Company</td>
    <td scope="col">Industry</td>
    <td scope="col">Site</td>
    <td scope="col">Email</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>{{response.id}}</th>
    <th>{{response.name}}</th>
    <th>{{response.keywordsIndustry}}</th>
    <th>{{response.googleUri}}</th>
    <th>{{response.emails}}</th>
  </tr>
  </tbody>

</table>
<div *ngIf="response">
  Not found
</div>
