<br>
<body>
<form [formGroup]="formByCity" class="form-inline md-form mr-auto mb-4">
  <mat-form-field class="example-full-width">
    <input formControlName="city" placeholder="Search by City" aria-label="Search"
           type="text" [(ngModel)]="city" matInput [formControl]="city"
           [matAutocomplete]="auto" [formGroup]="formByCity" >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button id="butonsubmit" class="btn btn-outline-success" (click)="searchByCity($event)">Search By City</button>

  <table class="table" *ngIf="companies?.length>0">

    <thead class="table table-hover">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name Company</th>
      <th scope="col">Phone</th>
      <th scope="col">Industry</th>
      <th scope="col">Site</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies">
      <td>{{company.id}}</td>
      <td>{{company.name}}</td>
      <td>{{company.telephone}}</td>
      <td>{{company.keywordsIndustry}}</td>
      <td>{{company.googleUri + "\n" + company.url}}</td>
      <td>{{company.emails}}</td>
    </tr>
    </tbody>

  </table>

</form>
<app-app-alertvalitation-input [control]="formByCity" errorMessage="Is input invalid"></app-app-alertvalitation-input>


<div id="allertNotFound" class="alert alert-danger" [hidden]="notFound==null"><u>{{notFound}}</u></div>

</body>
