<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" >
    <h1>  {{message}}</h1>
   <button (click)="teox($event)" *ngIf="isColapset" class="badge badge-light" >
     <img  src="https://teox.eu/images/facicon.ico" width="30" height="30" class="d-inline-block align-top" alt="" >
   </button>
    <button (click)="teox($event)" *ngIf="!isColapset" class="badge badge-light">
     <img  src="https://teox.eu/images/facicon.ico" width="30" height="30" class="d-inline-block align-top" alt="" >
   </button>
    <div *ngIf="!isColapset">
      <a href="https://teox.eu/" class="badge badge-light">https://teox.eu/</a>
    </div>
     <app-clock></app-clock>
  </a>
  <br>
</nav>
<div class="topnav" >
  <a class="active" href="">Home</a>
  <a href="byname">Search by Name</a>
  <a href="bycity">Search by City</a>
  <a href="byindustry">Search by Industry</a>

</div>
