#container {
  background: #413D4C;

}
#titleMessage {
  font-weight: bold;
  font-size: 30px;
  color: #F5E2CD;
  transform: rotateX(35deg) rotateZ(1deg);
  text-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px, white -0.15em -0.1em 100px;
  transition: .3s linear;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

#titleMessage:hover {
  margin-top: -10px;
  text-shadow: #F09EA3 0.006em 0.006em 0.007em, #F09EA3 1px 1px 1px, #F09EA3 1px 2px 1px, #F09EA3 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px, white -0.15em -0.1em 100px;
}

* {
  box-sizing: border-box;
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .4s ease-in-out;
}

.topmenu {
  text-align: center;
  padding: 10px 0;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 16px;
  box-shadow: 4px -2px 0 #d2d2d2;
  transform: rotate(30deg);
}

.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}

.topmenu > li > a {
  padding: 12px 26px;
  color: #F09EA3;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}

.topmenu li a:hover {
  color: #c0a97a;
}

.submenu {
  position: absolute;
  left: -40px;
  top: 60%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: .4s ease-in-out;
}

.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #484848;
  font-family: 'Kurale', serif;
}

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}


a {
  font-family: Georgia, serif;
  letter-spacing: -0.8px;
  word-spacing: 6px;
  text-decoration: none;

  font-variant: small-caps;
  text-transform: capitalize;
}


body {
  background-color: #000;
  height: 200vh;

}

.text {

  list-style: none;
  border-bottom: 0;
}

.text.hidden {

}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}

.text.hidden li.spaced {
  padding-left: 0;
}

.text li.spaced {
  padding-left: 0.5em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}

.ia-container figcaption {
  width: 100%;
  height: 100%;
  background: rgba(87, 73, 81, 0.1);
  position: absolute;
  top: 0px;
  transition: all 0.2s linear;
}

.ia-container figcaption span {
  position: absolute;
  top: 100%;

  color: #fff;

}

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption {
  background: rgba(87, 73, 81, 0);
}

.ia-container input:checked + figcaption span {
  transition: all 0.4s ease-in-out 0.5s;
  opacity: 1;
  top: 1%;
}

.ia-container #ia-selector-last:checked + figcaption span {
  transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {

}

.topmenu img {
  float: left;
  margin-top: -7px;
  filter: opacity(50%) drop-shadow(0 0 0 #F09EA3);
  margin-right: 5px;
}

.topmenu img:hover {
  float: left;
  margin-top: -7px;
  filter: opacity(100%) drop-shadow(0 0 0 #c0a97a);
  margin-right: 5px;
}
