<!--<app-clock></app-clock>-->
<div id="container">
  <div id="titleMessage">{{message}}</div>
  <nav id="menuTop">
    <ul class="topmenu">
      <li><a href="#"> <img height="30" src="assets/image/homeicon.png" width="30">Home</a></li>
      <li><a href="">single par</a>
        <ul class="submenu">
          <li><a href="byid">Search by Id</a></li>
          <li><a href="bycity">Search By City</a></li>
          <li><a href="byindustry">Search by Branch </a></li>
          <li><a href="">Tags</a></li>
        </ul>
      </li>
      <li><a href="">More par</a>
        <ul class="submenu">
          <li><a href="cityandbranch">Search By City e Branch</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
        </ul>
      </li>
      <li><a href="">Contact</a></li>
      <li><a href="">Admin</a>
        <ul class="submenu">
          <li><a href="logview">Log Server</a></li>
            <li><a href="collectedweb">Collected to Web</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
        </ul>
      </li>
      <li><a href="">Sign in</a>
        <ul class="submenu">
          <li><a href="login">Sign in</a></li>
          <li><a href="register">Sign ou</a></li>
          <li><a (click)="logout()" href="#">LogOut</a></li>
        </ul>
    </ul>
  </nav>
</div>

