body{
  display: flex;
  min-height: auto;
  flex-direction: column;

}
label{
  position: relative;
  left: 30%;
}
#butonsubmit{
  position: relative;
  left: 129%;
}
.alert{
  position: relative;

  margin-left: 30%;
  margin-right: 40%;
}

#inputCity{
 position: relative;
  left: 190%;
}
