<app-header></app-header>
<body>
<br>
<br>
<form (ngSubmit)="searchByActivity()" [formGroup]="formByIndustry" class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <a>Search Company by Industry Branch</a>
    <hr>
    <input [(ngModel)]="branch"
           [ngbTypeahead]="search"
           class="form-control"
           formControlName="branch"
           id="input"
           placeholder="Search...."
           type="text"/>
    <button id="batonsSubmit" type="submit">Search</button>
  </div>
</form>
<app-app-alertvalitation-input *ngIf="alertShouw" [control]=formByIndustry [error]=errorResponse
                               [position]=byindustry errorMessage="{{errorMessage}}">
</app-app-alertvalitation-input>
<app-listtables [company]="companies" [control]="formByIndustry"></app-listtables>
</body>
<app-footer></app-footer>
