
<body>
<div class="post-wrap">
  <div class="post-item">
    <div class="item-content">
      <div class="item-icon group"></div>
      <div class="item-body">
        <h3>Мероприятия</h3>
        <p></p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Подробнее</span></a>
      </div>
    </div>
  </div>

  <div class="post-item">
    <div class="item-content">
      <div class="item-icon tree"></div>
      <div class="item-body">
        <h3>Отдых на природе</h3>
        <p></p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Подробнее</span></a>
      </div>
    </div>
  </div>

  <div class="post-item">
    <div class="item-content">
      <div class="item-icon anchor"></div>
      <div class="item-body">
        <h3>Круизы</h3>
        <p></p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Подробнее</span></a>
      </div>
    </div>
  </div>

  <div class="post-item">
    <div class="item-content">
      <div class="item-icon video"></div>
      <div class="item-body">
        <h3>Видеосъемка</h3>
        <p></p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Подробнее</span></a>
      </div>
    </div>
  </div>

  <div class="post-item">
    <div class="item-content">
      <div class="item-icon photo"></div>
      <div class="item-body">
        <h3>Фотография</h3>
        <p></p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Подробнее</span></a>
      </div>
    </div>
  </div>

  <div class="post-item">
    <div class="item-content">
      <div class="item-icon gift"></div>
      <div class="item-body">
        <h3>Подарки</h3>
        <p></p>
      </div>
      <div class="item-footer">
        <a class="link" href="#"><span>Подробнее</span></a>
      </div>
    </div>
  </div>
</div>

</body>
