<body>

<div class="ia-container">

  <figure>
    <img alt="image01" src="{{images[0]}}"/>
    <input name="radio-set" type="radio"/>


    <figure>
      <img alt="image02" src="{{images[1]}}"/>
      <input name="radio-set" type="radio"/>


      <figure>
        <img alt="image02" src="{{images[2]}}"/>
        <input name="radio-set" type="radio"/>

        <figure>
          <img alt="image02" src="{{images[4]}}"/>
          <input name="radio-set" type="radio"/>

          <figure>
            <img alt="image02" src="{{images[5]}}"/>
            <input checked="checked" name="radio-set" type="radio"/>

            <figure>
              <img alt="image02" src="{{images[6]}}"/>
              <input name="radio-set" type="radio"/>

              <figure>
                <img alt="image02" src="{{images[7]}}"/>
                <input name="radio-set" type="radio"/>

                <figure>
                  <img alt="image02" src="{{images[10]}}"/>
                  <input name="radio-set" type="radio"/>

                  <figure>
                    <img alt="image02" src="{{images[11]}}"/>
                    <input name="radio-set" type="radio"/>

                  </figure>
                </figure>
              </figure>
            </figure>
          </figure>
        </figure>
      </figure>
    </figure>
  </figure>


</div>
</body>
