p {
  text-decoration: none;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #F5E2CD;
}

a {
  text-decoration: none;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #F5E2CD;
}

h3 {
  text-decoration: none;

  overflow: hidden;
  position: relative;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #F09EA3;
}

hr {
  background: #F09EA3;
}
