* {
  box-sizing: border-box;
}
body {
  background: #5b5a61;
  min-height: 80vh;

}

* {
  box-sizing: border-box;
}

.decor {
  position: relative;
  max-width: 550px;
  margin: 30px auto 0;
  background: white;
  border-radius: 30px;
  box-shadow: 5px 5px 20px white;
}

.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #5b5a61;
  border-radius: 20px;
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}

.form-left-decoration:before {
  top: -20px;
}

.form-left-decoration:after {
  top: 20px;
  left: 10px;
}

.form-right-decoration:before {
  top: -20px;
  right: 0;
}

.form-right-decoration:after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;

}

.form-inner {
  padding: 50px;
}

.form-inner input {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;

}

.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
  font-family: Georgia, serif;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  font-weight: bold;
}

.form-inner input[type="submit"]:hover {
  background: #d87d56;;
  box-shadow: 0 15px 20px #2EE59D;
  color: white;
  transform: translateY(-2px);
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}




.form-inner h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: #d87d56;

  font-weight: bold;

}
.mat-form-field {
  margin-right: auto;
  margin-left: auto;
  display: flex;

}







