
body {
  display: flex;
  min-height: auto;
  flex-direction: column;

}

label {
  position: relative;
  left: 29%;
}

button {
  position: relative;
  left: 30%;
}

#companyShouw {
  color: darkgrey;
  font-family: 'Carme', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
  padding-bottom: 35px;
}

#emploeForm {
  color: darkgrey;
  font-family: 'Carme', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}
u{
  color: #4CAF50;
  font-family: 'Carme', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
}
