<body>
<br>
<br>
<form (ngSubmit)="searcById($event)" [formGroup]="formId" class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <app-app-alertvalitation-input *ngIf="alertShouw" [control]="formId"
                                   errorMessage="{{errorMessage}}">
    </app-app-alertvalitation-input>
    <h3>Search Company by Id</h3>

    <input autocapitalize="off" autocomplete="false"
           formControlName="idControl"
           name="idControl"
           spellcheck="false">

    <input type="submit" value="Search By ID">
  </div>
</form>
<app-app-alertvalitation-input *ngIf="alertShouw" [control]="formId" [position]="byid"
                               errorMessage="{{errorMessage}}">
</app-app-alertvalitation-input>
<app-oncompany [company]=company></app-oncompany>
</body>

